
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Products</title>
    <style>
        .card {
            width: 220px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 10px;
            padding: 10px;
            display: inline-block;
            text-align: center;
        }
        .card img {
            width: 100%;
            height: 250px;
        }
    </style>
</head>
<body>
     



    <h1>All Products</h1>
    <div class="container">
        <% products.forEach(product => { %>
            <div class="card">
                <h2><%= product.nameproduct %></h2>
                <p>Price: <%= product.priceproduct %></p>
                <p>Count: <%= product.countproduct %></p>
                <% if (product.data) { %>
                    <img src="data:<%= product.contentType %>;base64,<%= product.data.toString('base64') %>" alt="Product Image">
                <% } else { %>
                    <p>No image available</p>
                <% } %>
            </div>
        <% }) %>
    </div>
    

</body>
</html>
